/* 全局选择器，将所有元素的外边距和内边距都设置为0 */
* {
    margin: 0;
    padding: 0;
}

/* 设置box1的背景颜色为白色 */
.box1 {
    background-color: #ffffff;
}

/* 设置导航栏nav1的宽度、高度、背景颜色和外边距、边框圆角，并将位置设置为固定的*/
.nav1 {
    width: 1370px;
    height: 50px;
    border-radius: 20px;
    background-color: #ffba3c;
    margin-left: 25px;
    margin-right: 25px;
    position: fixed;
}

/*  选择nav1元素内的span元素,即导航栏里的具体的板块，设置其显示方式为块级元素，宽度、高度、边框圆角、背景颜色以及浮动方式 */
.nav1 span {
    display: block;
    width: 274px;
    height: 50px;
    border-radius: 20px;
    background-color: #ffba3c;
    float: left;


}

/* 让导航栏里的小的版块，即span里的的文本居中显示 */
.blo {
    text-align: center;
}

/* 将导航栏小板块设置文本装饰为无，颜色为白色，行高与父元素高度相同 */
.blo a {
    text-decoration: none;
    color: white;
    line-height: 50px;
}

/* 实现鼠标悬浮在导航栏上方时背景变色 */
.nav1 span:hover {
    background-color: #ff936b;
}

/*实现鼠标悬浮在文本上时文本变色  */
.blo a:hover {
    color: #8595a1
}

/* 为实现在Introduction一栏下方浮现二维码，选择将放置图片的盒子，设置其绝对定位、初始不透明度和不可见性，和过渡效果和层级 */
#Introduction .hover-image {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 100;
    padding-top: 10px;
}

/* 选择img元素，即图片，设置其宽度、高度自适应、边框圆角和阴影效果 */
#Introduction .hover-image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* 实现鼠标悬浮在Introduction一栏上时，二维码显示 */
#Introduction:hover .hover-image {
    opacity: 1;
    visibility: visible;
}


/* 定义类名为banner1的元素的样式，即实现第一页，设置宽度、高度、背景图片、背景尺寸、重复方式、位置、边框和外边距 */
.banner1 {
    width: 1370px;
    height: 950px;
    background-image: url(images/background1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    padding: 1px;
    overflow: hidden;
    margin: 20px 25px;

}

/* 放上logo，设置logo的宽度、高度、位置和尺寸 */
.decoration1 {
    width: 400px;
    height: 200px;
    margin: 100px auto;
    background-image: url(images/decoration_Geek.png);
    background-size: cover;

}

/* 实现鼠标悬浮在logo上logo缩放的效果并设置阴影和过渡效果 */
.decoration1:hover {
    transform: scale(1.4);
    box-shadow: 0 0 10px #fffdf5(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


/* 定义类名为banner2的元素即介绍卡片的样式，设置宽度、高度、外边距、背景图片、背景尺寸、重复方式和位置 */
.banner2 {
    width: 1360px;
    height: 200px;
    margin: 0 auto;
    background-image: url(images/decoration_Transition.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* 设置放装饰和标题的盒子的宽度、高度、外边距和盒子内文字样式，并让文字居中显示 */
.nav2 {
    width: 400px;
    height: 200px;
    margin: auto 480px;
    text-align: center;
    line-height: 200px;
}

.nav2 h1 {
    font-weight: 900;
    font-size: 50px;
    color: #01008b;
}

/* 设置介绍卡片的宽度、高度、背景颜色、外边距、边框圆角和边框样式 */
.program1,
.program2,
.program3,
.program4 {
    width: 1000px;
    height: 400px;
    background-color: #fffeff;
    margin: 55px auto;
    border-radius: 24px;
    border: 5px solid #818081;


}

/* 设置“开发程序猿”和“游戏开发”盒子的宽度、高度、浮动样式和外边距 */
.text1,
.text3 {
    width: 670px;
    height: 360px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;

}

/* 将“开发程序猿”卡片的装饰图片作为背景图片插入 */
.decoration2 {
    background-image: url(images/Geek_Programmer.png);
}

/*设置“开发程序猿”和“游戏开发”装饰图片的大小、位置、背景重复方式和浮动形式  */
.decoration2,
.decoration4 {
    width: 260px;
    height: 360px;
    float: left;
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}




/* 设置标题“开发程序猿”的字体样式 */
.text1 h1 {
    font-weight: 900;
    font-size: 40px;
    margin-left: 20px;
}

/* 选择text1元素内的span元素（内容为“Stay Hungry，Stay Foolish”），设置其显示方式为块级元素，字体粗细、大小、外边距和颜色 */
.text1 span {
    display: block;
    font-weight: 900;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 40px;
    color: #6596ee;
}

/* 设置“开发程序猿”和“游戏开发”的具体介绍内容的位置和文字样式 */
.content1,
.content3 {
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
}

/* 设置“开发程序猿”板块文字的上外边距 */
.content1 {
    margin-top: 20px;
}

/*设置“产品经理”和“安全”的具体介绍内容的位置和文字样式  */
.content2,
.content4 {
    margin-top: 40px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 20px;

}

/*将“产品经理”卡片的装饰图片作为背景图片插入  */
.decoration3 {
    background-image: url(images/Geek_PM.png);
}

/* 设置“产品经理”和“安全”装饰图片的宽度、高度、外边距、位置、背景重复方式和浮动形式 */
.decoration3,
.decoration5 {
    width: 260px;
    height: 360px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* 设置标题“产品经理”的字体样式 */
.text2 h1 {
    font-weight: 900;
    font-size: 40px;
    margin-left: 30px;
}

/*选择text2元素内的span元素（内容为“好的软件的特征是,
明明没用过，但总觉得用过似的。”），设置其显示方式为块级元素，字体粗细、大小、外边距和颜色  */
.text2 span {
    display: block;
    font-weight: 900;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 40px;
    color: #ee85ec;
}

/* 将“游戏开发”卡片的装饰图片作为背景图片插入 */
.decoration4 {
    background-image: url(images/Geek_Game.png);
}




/*选择text3元素内的span元素（内容为"TECH OTAKUS SAVE THE WORLD"”），设置其显示方式为块级元素，字体粗细、大小、外边距和颜色  */
.text3 span {
    display: block;
    font-weight: 900;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 40px;
    color: #5fe7ca;
}



/* 将“安全”卡片的装饰图片作为背景图片插入 */
.decoration5 {
    background-image: url(images/Geek_security.png);
}

/* 设置标题“游戏开发”和“安全”的字体样式 */
.text3 h1,
.text4 h1 {
    font-weight: 900;
    font-size: 40px;
    margin-left: 20px;
}

/*选择text3元素内的span元素（内容为"路漫漫其修远兮，非大毅力者不能"），设置其显示方式为块级元素，字体粗细、大小、外边距和颜色  */
.text4 span {
    display: block;
    font-weight: 900;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 40px;
    color: #f8bcca;
}

/* 实现鼠标浮动时装饰图片旋转的效果 */
.decoration2:hover,
.decoration3:hover,
.decoration4:hover,
.decoration5:hover {
    transform: rotate(-15deg);
    transition: all 0.3s ease;
}

/* 设置盒子box3的宽度、高度、背景颜色、外边距 */
.box3 {
    width: 1290px;
    height: 800px;
    background-color: #fffeff;
    margin: 0 auto;
    margin-top: 100px;

}

/*设置盒子box3的宽度、高度、外边距、背景颜色、圆角边框即边框样式  */
.banner3 {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    background-color: #fffdf6;
    border-radius: 15px;
    border: 5px solid #818081;
}

/*  定义类名为fa1的元素的样式，设置宽度、高度和外边距 */
.fa1 {
    width: 1290px;
    height: 100px;
    margin: -75px auto;

}

/* 设置“About As”卡片四个角的装饰图片的宽度、高度、背景图片尺寸、重复方式 */
.decoration6,
.decoration7,
.decoration11,
.decoration12 {
    width: 200px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

}

/* 设置“About As”卡片左上角和右上角装饰图片的浮动形式，并以背景图片的形式插入装饰图片 */
.decoration6 {
    float: left;
    background-image: url(images/decoration_Decoration\(2\).png);
}

.decoration7 {
    float: right;
    background-image: url(images/decoration_Decoration.png);
}

/*定义类名为fa3的元素的样式，设置宽度、高度和外边距  */
.fa3 {
    width: 1290px;
    height: 100px;
    margin: -65px auto;

}

/* 设置“About As”卡片左下角和右下角装饰图片的浮动形式，并以背景图片的形式插入装饰图片 */
.decoration11 {
    float: left;
    background-image: url(images/decoration_Decoration\(1\).png);
}

.decoration12 {
    float: right;
    background-image: url(images/decoration_Decoration\(3\).png);
}

/* 设置放各卡片标题的盒子的宽度、高度、外边距 */
.nav3,
.nav4,
.nav5 {
    width: 300px;
    height: 100px;
    margin: 30px auto;

}

.nav4 {
    width: 700px;
}

.nav5 {
    width: 700px;
}


/* 设置卡片标题的文字样式、并使其垂直居中显示 */
.nav3 h1,
.nav4 h1,
.nav5 h1 {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    color: #85827e;
}

.nav4 h1 {
    display: block;
    width: 300px;
    color: #354d4f;
    float: left;
}

.nav5 h1 {
    color: #020203
}

/* 定义类名为fa2的元素的样式，设置宽度、高度、外边距和背景颜色 */
.fa2 {
    width: 960px;
    height: 400px;
    margin: 0 auto;
    background-color: #fffdf6;
}

/* 设置“About Us”卡片里三个板块的宽度、高度、外边距、浮动形式、圆角边框及边框样式 */
.content5,
.content6,
.content7 {
    width: 200px;
    height: 370px;
    margin: 30px 55px;
    float: left;
    border-radius: 15px;
    border: 5px solid #800086;
}

.content6 {
    height: 390px;
}


/*实现鼠标浮动在content上时盒子收缩和阴影效果  */
.content5:hover,
.content6:hover,
.content7:hover {
    transform: scale(1.3);
    box-shadow: 0 0 10px #fffdf5(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


/* 设置content内装饰图片的宽度、高度、背景图片的尺寸、重复方式和顶部外边距 */
.decoration8,
.decoration9,
.decoration10 {
    width: 200px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 20px;
}

.decoration9 {
    height: 140px;
}

.decoration8 {
    background-image: url(images/about_Speech.png);
}

.decoration9 {
    background-image: url(images/about_Diversity.png);
}

.decoration10 {
    background-image: url(images/about_Time.png);
}

/* 设置content放文字的盒子的宽度、高度、外边距 */
.text5,
.text6,
.text7 {
    width: 180px;
    height: 160px;
    margin: 50px 10px;

}

.text6 {
    height: 170px;

}

hudei .decoration13 {
    width: 300px;
    height: 160px;
    background-image: url(images/decoration_Butterfly.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    margin: -20px 10px;
    float: right;

}


.decoration13:hover {
    transform: translateY(10px);
    box-shadow: 0 0 10px #fffdf5(0, 0, 0, 0.1);
    transition: all 0.3s ease;


}

/* 选择类名为decoration13元素内的span元素
   初始设置为隐藏状态，并设置其宽度、高度、背景颜色、边框、字体大小、颜色、行高以及位置 */
.decoration13 span {
    display: block;
    display: none;
    width: 60px;
    height: 15px;
    background-color: #434244;
    border: 1px solid white;
    font-size: 10px;
    color: white;
    line-height: 15px;
    position: relative;
    top: 100px;
    left: 150px;
}

/* 实现鼠标浮动在蝴蝶上显现文字 */
.decoration13:hover.decoration13 span {
    display: block;
}

/*设置Contact Us卡片的宽度、高度、外边距、背景颜色、圆角边框即边框样式  */
.banner4 {
    width: 1200px;
    height: 600px;
    margin: 150px auto;
    background-color: #fffdf6;
    border-radius: 15px;
    border: 5px solid #03898f;

}

/* 设置装饰图片的位置、尺寸、重复形式 */
.block1 {
    height: 380px;
    width: 230px;
    float: left;
    margin-top: -60px;
    background-image: url(images/decoration_TreeWithSometing.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.block2 {
    height: 380px;
    width: 700px;
    height: 500px;
    float: left;
    margin-left: 50px;


}

.block3 {
    height: 630px;
    width: 200px;
    float: right;
    margin-top: -10px;
    background-image: url(images/decoration_Tree.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

}

.decoration14 {
    height: 100px;
    width: 200px;
    float: left;
    background-image: url(images/decoration_Leaves.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;


}

.text8 {
    width: 600px;
    height: 150px;
    margin: 0 auto;


}

.text8 li {
    list-style: none;
    font-size: 23px;
    font-weight: 400;
    margin-top: 20px;
    color: #0d0a13;

}

.text9 {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    color: #8e8e98;
}

/* 设置按钮的位置、大小、颜色、圆角边框和样式 */
.butt1 {
    position: relative;
    bottom: 140px;
}

.butt1 button {
    padding: 5px 20px;
    margin: 0 50px;
    border-radius: 10px;
    background-color: #208320;
    color: white;
}

.butt1 button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.decoration15 {
    width: 50px;
    height: 50px;
    background-image: url(images/decoration_Ladybug.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    float: left;
    margin-top: 70px;
    margin-left: -10px;

}

.decoration16 {
    width: 400px;
    height: 300px;
    background-image: url(images/decoration_Chameleon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    float: right;
    margin-top: -80px;
    margin-right: -30px;


}

.banner5 {
    width: 1200px;
    height: 900px;
    margin: 80px auto;
    border-radius: 15px;
    border: 5px solid #6395f0;
    background-image: url(images/background_QA.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.content8 {
    width: 1200px;
    height: 400px;
    margin: 80px auto;
    font-size: 25px;
}

.content8 span {
    display: block;
}

.content8 span:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
    color: #77859a;
}

.program1:hover,
.program2:hover,
.program3:hover,
.program4:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;

}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7 {
    display: block;
    margin: 40px auto;
}

.A1,
.A2,
.A3,
.A4,
.A5,
.A6,
.A7 {
    display: none;
    position: absolute;
    right: 250px;
    background-color: #c7dcf0;
    color: white;
    width: 800px;
    margin: 40px auto;
    font-size: 20px;
    border-radius: 5px;
    z-index: 10;
}



.Q1:hover+.A1,
.Q2:hover+.A2,
.Q3:hover+.A3,
.Q4:hover+.A4,
.Q5:hover+.A5,
.Q6:hover+.A6,
.Q7:hover+.A7 {
    display: block;
    position: relative;
}